/*RESET
-------------------------------------------------------------- */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, code, form, input, button, fieldset, textarea, p, blockquote, th, td { margin: 0; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
fieldset, img { border: 0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style: normal; font-weight: normal }
ol, ul { list-style: none }
del, ins { text-decoration: none }
caption, th { text-align: left }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal }
input, button, textarea, select { font-size: 100% }
q:before, q:after { content: '' }
addr, acronym { border: 0; font-variant: normal }
sup, sub { vertical-align: baseline }
/*CLEARFIX
-------------------------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*FONT
-------------------------------------------------------------- */
body { font:12px/1.5 \5b8b\4f53, sans-serif }
.f10 { font-size: 10px }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.fb { font-weight: 700 }
.fn { font-weight: 400 }
.t2 { text-indent: 2em }
.lh20 { line-height:20px }
.lh24 { line-height:24px }
.unl { text-decoration: underline }
.no_unl { text-decoration: none }
/*POSITION
-------------------------------------------------------------- 
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.bc { margin-left: auto; margin-right: auto }
.fl { float: left; display: inline }
.fr { float: right; display: inline }
.vm { vertical-align: middle; }
.vt { vertical-align: top }
.pr { position: relative }
.pa { position: absolute }
.abs-right { position: absolute; right: 0 }
.abs-left { position: absolute; left: 0 }
.hidden { visibility: hidden }
.none { display: none }
*/
/* TODO: optmize the size
-------------------------------------------------------------*/
.star_list { height: 400px;}
