/* publicize  */
body{ background: #1c031f url(../img/body_bg02.jpg) center top no-repeat; overflow:hidden;}
.add{background:url(../img/pop_btn.png) 0 0 no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.sinaimg.cn/hs/baoyue/zt/star/img/pop_btn.png'); width:156px; height:63px; margin:630px auto 0 auto; padding:45px 0 0 13px;overflow:hidden;}
.add_btn{ width:135px; height:30px; display:block; text-indent:-99999px; position:relative; z-index:2;}
.upload_popup{position:absolute; top:50%; left:50%;z-index:9999; margin:-80px 0 0 -230px; width:343px; height:195px; background:url(http://www.sinaimg.cn/hs/baoyue/zt/star/img/pop_bg02.png) no-repeat; }
.upload_popup .upload_popup_t{ height:24px; clear:both; overflow:hidden; text-align:right;}
.upload_popup .close{ display:inline-block; width:16px; height:16px; margin:8px 10px 0 0;}
.upload_popup p{ text-align:center; font-size:18px; font-family: "Microsoft YaHei"; color:#4e4e4e; padding-bottom:22px;}
.upload_popup a.go{ display:block; text-indent:-9999px; width:51px; height:34px; background:url(http://www.sinaimg.cn/hs/baoyue/zt/star/img/pop_bg02.png) 0px -196px no-repeat; margin:30px auto 0 auto;overflow:hidden;}
.mainCon{  font-size:14px;margin:0 auto; padding:0;width:149px; height:28px; line-height:28px; border:1px solid #adadad; background:url(http://www.sinaimg.cn/hs/baoyue/zt/star/img/pop_bg02.png) -190px -203px no-repeat; cursor:pointer;padding-left:5px;}
.select .btn{ display:block; width:116px; height:28px; line-height:28px; margin-right:26px; padding-left:10px;}
.super_select{ display:none; widows:152px; height:84px; position:absolute;border:1px solid #b0b0b0; border-top:none; margin:1px 0 0 -1px;}
.super_select a{ width:142px; background-color:#fff; display:block; line-height:28px; padding-left:10px; height:28px; color:#000; text-decoration:none;}
.super_select a:hover{ background-color:#d695c2; color:#fff;}
.mod_popup_bg { width:100%; position:absolute; left:0; top:0; z-index:9997; filter:alpha(opacity=50); opacity:0.5; background:#000; }
.mod_popup_bg_cover { position:absolute; left:0; top:0; z-index:9998; filter:alpha(opacity=0); opacity:0; background:#000; }

.selectbox{border:0;width:120px!important;font-size:14px; line-height: 26px;height:26px;padding:0;margin:0;}
.selBtn,.selBtn_safari{border:0;background:none;width:26px;height:26px;color:#fff;padding:0;border:0;overflow:hidden;text-indent:9999px;}
#2_container li{height:20px;line-height:20px;}
div.selectbox-wrapper ul li {
	  font-size:14px;
    cursor: pointer;
    line-height: 20px;
    padding: 3px;
}
div.selectbox-wrapper ul li.selected {
    background-color: #E0ECF7;
}
div.selectbox-wrapper ul li.current {
    background-color: #E59297;
}


div.selectbox-wrapper ul li {
    cursor: pointer;
    line-height: 20px;
    padding: 3px;
}
div.selectbox-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #B7D1EB;
    display: block;
    left: 94px;
    position:absolute;
    text-align: left;
    top: 99px!important;
    z-index: 100000;
}
.select {height:26px;line-height:26px;}

