@charset "utf-8"; 
body{background-color:#adcae3}
#profileHead, .MIB_blogb{background-image:url('images/miblogb.jpg')}
#profileHead{background-position:-299px -114px}
#profileHeadBg{background-image:url('images/profilehead.png'); _background:none; _filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#88cddeee,endcolorstr=#ffcddeee,gradientType=0)}
.MIB_bloga{background-image:none}
.colPngBg, .MIB_blogbody .MIB_mblogbgl, a.cmn_nav_tag, .cmn_nav_con{background:url('http://img1.t.sinajs.cn/t3/skin/skin_035/images/bg.png') repeat-y; _background:url('http://img1.t.sinajs.cn/t3/skin/skin_035/images/bg.gif') repeat-y}
.MIB_blogbody .MIB_mblogbgr{background:url('http://img1.t.sinajs.cn/t3/skin/skin_035/images/bg.png') repeat-y -800px 0; _background:url('http://img1.t.sinajs.cn/t3/skin/skin_035/images/bg.gif') repeat-y -800px 0}
.MIB_assign_t, .MIB_assign_b, .MIB_assign_c{background:url('http://img.t.sinajs.cn/t3/skin/skin_035/images/assignbg.gif') no-repeat}
.MIB_lf_titl, .MIB_lf_tit{background:#d9e6f2; border-bottom:1px solid #dfeaf4; color:#444644}
.MIB_comheader{background-color:#bed2e3}
.bottombg{background:#d5dab6; opacity:0.48; filter:alpha(opacity=48)}
.head_menu .submit, .head_menu img.icon_color, .userinfo .user_atten, .MIB_asarrow_l, .MIB_asarrow_r, .right_nav ul li, .right_nav .empty_group .empty_btm, .smallNav li.smailNavIcon, .smallNav li.smailNavIcon2, .MIB_mblogbox .connBg .postBtnBg a, .bottomLinks .bL_line,.MIB_dot,.smallNav,.envelopes_linedot{background-image:url(http://img1.t.sinajs.cn/t3/skin/skin_035/images/fragmentbg.png)}
.tsina_gnbarea .bg_gnbarea{opacity:0.42; filter:alpha(opacity=42); background:#fff}
.tsina_gnb li.line{color:#7799b9}
.tsina_gnb li span.arr_d em{background:#92aec9}
.tsina_gnb li.on span.arr_d em{background:#d5e5f5}
.tsina_gnb ul li, .tsina_gnb ul li a, .tsina_gnb ul li a:link, .tsina_gnb ul li a:hover, .tsina_gnb ul li a:visited, .tsina_gnb ul li em.nmTxt{color:#7799b9}
.tsina_gnb a.gnb_hot, .tsina_gnb a.gnb_hot:link,  .tsina_gnb a.gnb_hot:hover, .tsina_gnb a.gnb_hot:active, .tsina_gnb a.gnb_hot:visited{color:#7799b9}
.tsina_gnb ul li a:hover{background:#eaf3ff; color:#98bdd8}
.tsina_gnb ul li.on a:hover{background:#98bdd8; color:#eaf3ff}
.tsina_gnb a.gnb_hot:hover{color:#98bdd8}
.tsina_gnb ul li.on, .tsina_gnb ul li.on a, .tsina_gnb ul.sltmenu, .tsina_gnb ul li.on a.nohover:hover{background:#98bdd8}
.tsina_gnb ul.sltmenu, .tsina_gnb ul li.on{border:1px solid #9ab6d1}
.tsina_gnb ul li.on a, .tsina_gnb ul li.on a:link, .tsina_gnb ul li.on a:visited, .tsina_gnb ul li a.nohover:hover{color:#eaf3ff}
.tsina_gnb ul.sltmenu li a:hover{color:#eaf3ff; background:#88b1cf}
.header{background:url(images/miblogb.jpg) no-repeat center 0}
.head_menu .bg_menu_c, .head_menu .menu_l, .head_menu .menu_r{background:#9bb8cc; opacity:0.5; filter:alpha(opacity=50)}
.head_menu .menu_c li.line{color:#9db4cd}
.head_menu .menu_c li.cur, .head_menu .menu_c li.cur a, .head_menu .menu_c li.cur a:link, .head_menu .menu_c li.cur a:visited{color:#fefefe}
.head_menu .menu_c li a{color:#eef4ff}
.head_menu .menu_c .search{background:#85a9bd}
.head_menu .menu_c .search input{background:#fff}
.head_menu .menu_c .submit{color:#d0dff0}
.head_menu .setMyskin:hover, .layer_setMyskin{border-color:#a8bed5; background:#bdccde; color:#fff}
.head_menu .layer_setMyskin a:link, .head_menu .layer_setMyskin a:visited{color:#fff}
.head_menu .layer_setMyskin a:hover{background:#a8bed5}
.MIB_mblogbox .pngBg{background-repeat:no-repeat; background:url('http://img.t.sinajs.cn/t3/skin/skin_035/images/postbgal.jpg'); _filter:none}
.MIB_mblogbox .connBg .postBtnBg a:link, .MIB_mblogbox .connBg .postBtnBg a:visited{background-position:left top}
.MIB_mblogbox .connBg .postBtnBg a:hover{background-position:left -30px}
.MIB_mblogbox .connBg .postBtnBg.bgColorA_No a:link, .MIB_mblogbox .connBg .postBtnBg.bgColorA_No a:visited, .MIB_mblogbox .connBg .postBtnBg.bgColorA_No a:hover{background-position:left -60px}
.MIB_mblogbox .connBg .postOptionBg{color:#497a85}
.MIB_mblogbox .connBg .postOptionBg a, .MIB_mblogbox .connBg .postOptionBg a:link, .MIB_mblogbox .connBg .postOptionBg a:visited{color:#467884}
.MIB_mblogbox .connBg .postOptionBg a:hover{color:#467884}
.MIB_mblogbox .connBg .wordNumBg{color:#1b2a33}
.MIB_txtal{color:#444}
.MIB_txtbl, .atMeBox a em.arrow{color:#707070}
.MIB_linkal a:link, .MIB_linkal a:visited, .MIB_linkal a:hover, a.MIB_linkal:link, a.MIB_linkal:visited, a.MIB_linkal:hover, 
.atMeBox a:Hover em.arrow{color:#6278a6}
.MIB_linkbl a:link, .MIB_linkbl a:visited, .MIB_linkbl a:hover, a.MIB_linkbl:link, a.MIB_linkbl:visited, a.MIB_linkbl:hover{color:#707070}
.MIB_txtar{color:#563738}
.MIB_txtbr{color:#746765}
.MIB_linkar a:link, .MIB_linkar a:visited, .MIB_linkar a:hover, a.MIB_linkar:link, a.MIB_linkar:visited, a.MIB_linkar:hover{color:#5b5e37}
.MIB_linkbr a:link, .MIB_linkbr a:visited, .MIB_linkbr a:hover, a.MIB_linkbr:link, a.MIB_linkbr:visited, a.MIB_linkbr:hover, a.goTop, a.goTop:link, a.goTop:visited{color:#838c73}
.MIB_arrdr{border-top-color:#838c73}
a.goTop:hover{color:#5b5e37}
.MIB_linkcr a:link, .MIB_linkcr a:visited, .MIB_linkcr a:hover, a.MIB_linkcr:link, a.MIB_linkcr:visited, a.MIB_linkcr:hover{color:#4e3232}
.MIB_lf_titl a:link, .MIB_lf_titl a:visited, .MIB_lf_titl a:hover, .MIB_lf_tit a:link, .MIB_lf_tit a:visited, .MIB_lf_tit a:hover, .MIB_lf_titl, .MIB_lf_tit{color:#444644}
.widgetIntroduce .wIfilter{background:#fff}
.MIB_line_l{color:#79a6b6}
.MIB_line_r{border-style:solid; border-color:#8bafac}
.MIB_liner{color:#8bafac}
.MIB_linedot_l{background:url(http://www.sinaimg.cn/hs/baoyue/zt/star/img/linedotl.gif) repeat-x left bottom}
.MIB_linedot_l1{background:url(http://www.sinaimg.cn/hs/baoyue/zt/star/img/linedotl.gif)}
.MIB_linedot{background-repeat:repeat-x; background-position:left bottom}
.MIB_line{border-bottom:1px solid #79a6b6; background-image:none}
.MIB_linesld_l{border-color:#79A6B6}
.goTopbg{background:url(images/bg.gif) repeat -1500px 0}
.right_nav ul li.cur, .right_nav ul li.cur a:link, .right_nav ul li.cur a:visited, .right_nav ul li.cur a:hover{color:#104f55; background-position:0 -220px}
ul li.list_hover{background:#d9e4e1}
.icon_closel{color:#5973a4}
ul.conlist li.list_hover span{color:#6b6e4c}
a.concernBtn_Add, a.concernBtn_Add:link, a.concernBtn_Add:visited{background:#d9e6f2; border:1px solid #dfeaf4; color:#444644}
a.concernBtn_Add:hover{background:#414443; border:1px solid #dfeaf4; color:#e6eff6}
.MIB_bobar .fanye .btn_numOn:link, .MIB_bobar .fanye .btn_numOn:visited, .MIB_bobar .fanye .btn_numOn:link em, .MIB_bobar .fanye .btn_numOn:visited em{color:#444}
.MIB_bobar .fanye .btn_numOn:hover em{color:#333}
.concernBox .conBox_c .address{color:#707070}
.btn_privacy, .btn_privacy em{color:#707070}
a.btn_privacy:hover em, .privacy_hover em{color:#666}
.count_main p, .count_main em, .cmn_nav_ls li a.gp_new p{background:#6278a6; color:#cbdded}
.cmn_nav_ls li a.gp_new em{border-top:1px solid #6278a6}
.atMeBox .atMeBox_tit, ul.tab_at_methed li.cur{border-color:#c9d2da}
.atMeBox .typelist, ul.tab_at_methed li.cur{background:#dce5ed}
ul.tab_at_methed li.cur{border-bottom-color:#dce5ed}
.nfTagB{border-bottom-color:#c9d2da}
.nfBox, .cmn_nav_ls li a:hover{background-color:#dce5ed}
.navCommSearch, .nfTagB ul li.current span{background-color:#dce5ed; border-color:#c9d2da}
.commBack, .nfTagOff ul li.current span, a.cmn_nav_tag, .cmn_nav_con{border-color:#c9d2da}
.nfTagB ul li a.arrow:hover{background-color:#707070}
.nfTagB ul li a.arrow:active{background-color:#6278a6}
.nfTagB ul li a.arrow .arr_m{border-top-color:#444}
.nfTagB ul li a.arrow:hover .arr_m{border-top-color:#dce5ed}
.nfTagB ul li a.arrow:active .arr_m{border-top-color:#dce5ed}
.nfTagB ul li a span.more{border-top-color:#707070}
.nfTagB ul li a:hover span.more{border-top-color:#6278a6}
.nfTagOff a.nftagOpen, .nfTagOn a.nftagOpen{border-color:#c9d2da}
.nfTagOff a.nftagOpen em, .nfTagOn a.nftagOpen em{color:#707070}
.nfTagOff a.nftagOpen:hover, .nfTagOn a.nftagOpen:hover{border-color:#6278a6}
.nfTagOff a.nftagOpen:hover em, .nfTagOn a.nftagOpen:hover em{color:#6278a6}
.nfBox .left a{border-color:#dce5ed}
.nfBox a.current, .nfBox a.current:link, .nfBox a.current:visited{background-color:#cddeef; border-color:#c9d2da; color:#444}
.cn_away a.cmn_nav_tag{background:#CBDDED}