.nav {
    background: none repeat scroll 0 0 #FFFFFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 32px;
    line-height: 23px;
    z-index: 9999;
    border-bottom: 1px solid #DADBDC;
    text-align: center;
}
.nav li a {
    color: #8F0045;
    display: block;
    font-size: 15px;
    height: 32px;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    position: relative;
}
.nav li a .left {
    background-position: -814px 0;
    display: none;
    height: 32px;
    left: -3px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 3px;
}
.nav li a .right {
    background-position: -884px 0;
    display: none;
    height: 32px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -3px;
    top: 0;
    width: 3px;
}
.nav li a.active {
    background: #EAEAEA;
    color: black;
}
ul, ul li {
    list-style-position: outside;
    list-style-type: none;
}
.nav .list .link a {
    border-right: 1px solid #DADBDC;
    color: #3D3D3D;
    float: left;
    font-size: 13px;
    line-height: 31px;
    padding: 0 20px 1px;
}
a {
    text-decoration: none;
}
a:hover {
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#CFCFCF), to(#E0E0E0));
    color: #3D3D3D;
}
.active a {
    background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(#868A8D), to(#ABAFB2));
    color: white;
}
