body { background:#2E083B url(/star/media/img/body_bg.jpg) center top no-repeat }
a { text-decoration:none }
a:hover { text-decoration:underline }
a, a:link, a:visited{ color:#000;} 
.black{ color:#000!important;}
#wrap { width:950px; margin:0 auto }
#wrap_blog { width:800px; margin:0 auto;position:relative; }
.mxk_header { height:121px; position:relative; z-index:99 }
.mxk_header_top { line-height:30px; padding:0 10px; color:#99849E }
.mxk_header_top a { color:#FFF !important }
.nav { height:35px; position:absolute; left:10px; top:93px; }
.nav li { float:left; width:145px; height:35px; font-size:13px; }
.nav li a { float:left; width:125px; padding-right:20px; text-align:center; height:35px; line-height:30px; color:#FFF!important; background:url(/star/media/img/bg.png) 0 -100px; }
.nav li a:hover, .nav li a.current { background:url(/star/media/img/bg.png) 0 -64px; color:#76008A!important; font-weight:700; text-decoration:none }
.accredit { color:#DEB5C3; position:absolute; right:10px; top:40px; }
.accredit a { display:inline-block; width:50px; height:20px; line-height:20px; text-align:center; color:#FFF!important; background:url(/star/media/img/bg.png) -198px -35px; }
.main_t, .main_b { height:10px; overflow:hidden; background:url(/star/media/img/main_t.png) }
.main_b { background:url(/star/media/img/main_b.png) }
.main_c { width:950px; background:url(/star/media/img/main_c.png); }
.main { position:relative }
.main_leftimg { width:96px; height:94px; background:url(/star/media/img/bg.png) -823px -36px; position:absolute; left:-45px;z-index:800;}
/*search*/
.search { width:920px; height:34px; margin:0 auto; background:url(/star/media/img/bg.png) }
.quick_search { float:left; width:630px; height:34px; line-height:34px; padding-left:30px; color:#68167F }
.quick_search a { font-family:Tahoma, Geneva, sans-serif; font-size:13px; margin:0 2px; padding:0 4px; color:#68167F!important }
.quick_search a.current, .quick_search a:hover { border:1px solid #FFA6EB; padding:0 3px; background:#FFF; text-decoration:none }
.search_input { float:left; display:inline; margin-left:20px; width:197px; height:28px; background:url(/star/media/img/bg.png) 0 -35px; }
.search_input .text { float:left; display:inline; margin:3px 0 0 5px; padding:4px 0 4px 0; width:150px; border:0; color:#BFBFBF }
.search_input .btn { float:right; display:inline; width:33px; height:26px; background:none; border:none; cursor:pointer; margin:1px 1px 0 0; }
/*star_info*/
.star_info { width:145px; height:120px; }
.star_info img { float:left; display:inline; margin-right:5px; width:55px; height:55px; padding:4px; border:1px solid #DBDBDB }
.star_info div { height:70px; color:#BFBFBF; line-height:20px; }
.star_info div a { color:#000 !important }
.star_info p { width:145px; height:18px; padding-top:2px; }
.star_info p a { float:left; display:inline; margin-right:5px; width:45px; height:18px; line-height:18px; text-align:center; color:#FFF!important; background:url(/star/media/img/bg.png) }
.star_info p a.btn1 { background-position:-146px -83px }
.star_info p a.btn2 { background-position:-146px -64px }
.star_info p a.btn3 { background-position:-146px -102px; color:#938787!important }
/*pages*/
.pages { text-align:right; padding:10px 30px }
.pages a { margin:0 4px; color:#7A7A7A!important }
.pages .current { color:#7A7A7A }
.pages .current a { font-weight:700; color:#68167F }
.pages .prev, .pages .prev2, .pages .next, .pages .next2 { display:inline-block; vertical-align:middle; overflow:hidden; line-height:200px; width:11px; height:12px; background:url(/star/media/img/bg.png) -249px -35px; position:relative; top:-1px; }
.pages .next { background:url(/star/media/img/bg.png) -261px -35px; }
.pages .prev2 { width:14px; background:url(/star/media/img/bg.png) -273px -35px; }
.pages .next2 { width:14px; background:url(/star/media/img/bg.png) -288px -35px; }
/*star_news  fan_comments*/
.w620bg { width:620px; overflow:hidden; background:url(/star/media/img/bg.png) 0 -250px no-repeat }
.w280bg { width:280px; overflow:hidden; background:url(/star/media/img/bg.png) -621px -250px no-repeat }
.title { height:28px; padding-top:7px; }
.title .show { float:right; display:inline; margin:5px 8px; color:#6C6C6C !important }
.star_news { margin-left:20px; }
.fan_comments { float:right; display:inline; margin-right:20px; }
.star_news_title, .fan_comments_title { width:185px; height:28px; background:url(/star/media/img/bg.png) 0 -136px; text-indent:-999%; overflow:hidden; margin-left:10px; }
.fan_comments_title { background:url(/star/media/img/bg.png) 0 -165px }
/*small_list*/
.small_list { padding:15px 0 0 18px; }
.small_list li { padding-bottom:10px; }
.small_list .user { float:left; width:61px; }
.small_list .user img { display:block; margin:0 auto 2px auto; width:55px; height:55px; padding:2px; border:1px solid #CCCCCC }
.small_list .user .city_chat { display:block; margin:0 auto; width:56px; height:18px; line-height:18px; text-align:center; color:#9032AE; background:url(/star/media/img/bg.png) -198px -56px; }
.small_list .info_left { float:left; width:173px; position:relative; padding-left:10px }
.small_list .info_right { float:left; width:173px; position:relative; padding-right:10px }
.small_list .info_t, .small_list .info_b { width:173px; height:8px; overflow:hidden; background:url(/star/media/img/bg.png) -303px -35px }
.small_list .info_b { background:url(/star/media/img/bg.png) -303px -44px }
.small_list .info_c { border-left:1px solid #E5E5E5; border-right:1px solid #E5E5E5; background:#F7F7F7 }
.small_list .info_c p { padding:0 10px; line-height:18px; color:#999999 }
.small_list .info_left span, .small_list .info_right span { width:7px; height:9px; overflow:hidden; background:url(/star/media/img/bg.png) -303px -53px; position:absolute; top:20px }
.small_list .info_left span { left:4px }
.small_list .info_right span { background:url(/star/media/img/bg.png) -311px -53px; right:4px }
/*微博列表补充*/
.MIB_feed { width:550px;margin-left:20px;clear:none; padding-top:15px; }
.MIB_feed a { color:#da5884 }
.MIB_linkbl a:link, .MIB_linkbl a:visited, .MIB_linkbl a:hover, a.MIB_linkbl:link, a.MIB_linkbl:visited, a.MIB_linkbl:hover { color: #e190a1; }
/*博客页*/
.main_blog { width:800px; background:url(/star/media/img/main_blog.png); border-bottom:1px solid #5B3F60; }
.main_blog_top { width:800px; height:50px; background:url(/star/media/img/bg.png) 0 -194px; }
.main_blog_top .search_input { float:right; display:inline; margin:8px 5px 0 0; }
.blog_title { height:44px; line-height:44px; padding-left:50px; color:#585858; font-size:13px; font-family:黑体; }
.blog_title span { color:#90005f }
.blog_sidebar { float:right; width:200px; overflow:hidden; }
.blog_sidebar_title { color:#92168B; padding:10px; line-height:20px; }
.blog_sidebar .gray { color:#818181 }
.blog_sidebar .more { padding:5px 10px; }
.blog_sidebar .more a { color:#6C6C6C }
.blog_sidebar .num { width:200px; padding:15px 0 }
.blog_sidebar .num li { float:left; padding:5px 8px; text-align:center; border-right:1px solid #BDBABA; color:#818181 }
.blog_sidebar .num li.last { border:none }
.blog_sidebar .num li strong { font-family:Tahoma, Geneva, sans-serif; font-size:18px; }
.blog_sidebar .line { background:#DAC4DA; border-bottom:1px solid #FAF7FA; height:1px; overflow:hidden; }
.fans_list { width:180px; margin:0 auto }
.fans_list li { float:left; width:50px; padding:5px; }
.fans_list li .name { display:block; width:48px; margin:0 auto; white-space:nowrap; overflow:hidden; color:#999999 !important }
.fans_list li .btn1, .fans_list li .btn2, .fans_list li .btn3 { display:block; width:45px; height:18px; margin:1px auto; line-height:18px; text-align:center; color:#FFF!important; background:url(/star/media/img/bg.png) }
.fans_list li .btn1 { background-position:-146px -83px }
.fans_list li .btn2 { background-position:-146px -64px }
.fans_list li .btn3 { background-position:-198px -75px }
.blog_main { float:left; width:600px;  }

.news{ width:560px; height:240px; padding:0 0 0 20px;}
.news_img{ float:left; display:inline; margin-right:20px; text-align:center;position:relative; z-index:10; width:215px; padding-top:17px; height:198px; }
.news_img .alph_img{ width:215px; height:215px; display:block; position:absolute; left:0; top:0; background:url(/star/media/img/img_bg_new.png) no-repeat;}
.news_neme{ float:left; width:310px; overflow:hidden}
.news_neme h2{ font-family:黑体; margin:20px 0}
.news_neme dl{ line-height:22px;padding-top:10px;}
.news_neme dl dt{ color:#92168B; font-size:14px; font-weight:700}
.news_neme dl dd{ background:url(/star/media/img/dot.png) left center no-repeat; padding-left:10px;white-space: nowrap;}
.news_neme dl dd a{ color:#999999 !important}
.news_neme h4 {
color: #92168B;
font-size: 14px;
font-weight: 700;
padding:10px 0 5px 0;
}
.loc_btn_new01{ margin:23px 0 0 5px;}
.news .btn{ float:left; padding-top:20px;}
.news .btn li{ padding-bottom:10px}
.news .btn li a{ color:#5D5D5D}
.news .btn .btn1,
.news .btn .btn2{ display:inline-block; width:45px; padding-left:14px; height:20px; line-height:20px; text-align:center; color:#FFF!important; background:url(/star/media/img/bg.png) }
.news .btn .btn1 { background-position:-198px -94px }
.news .btn .btn2 { background-position:-198px -115px }

.blog_main_tab{ margin:0 10px; height:32px; background:url(/star/media/img/tab_bg.png)}
.blog_main_tab li{ float:left; display:inline; margin-left:10px; height:32px; padding-left:10px; background:url(/star/media/img/tab_bg2.png) left 0}
.blog_main_tab li h3{ float:left;height:32px; line-height:32px; font-size:14px; color:#FFF !important; padding-right:10px;background:url(/star/media/img/tab_bg2.png) right -66px}
.blog_main_tab li h3 a{ color:#FFF !important;}
.blog_main_tab li.current{background:url(/star/media/img/tab_bg2.png) left -33px}
.blog_main_tab li.current h3{background:url(/star/media/img/tab_bg2.png) right -99px; color:#6B6B6B !important; font-size:12px;}
.blog_main_tab li.current h3 a{ font-weight:700; color:#92168B !important; font-size:14px;}

.blog_search{ height:60px;}
.blog_search .search_input,.favorites .search_input { float:right; display:inline; margin:16px; background:url(/star/media/img/bg.png) -186px -165px}
.blog_search p{ line-height:60px; height:60px; color:#BCAFB2; padding:0 20px;}
.blog_search p a{ color:#512381 !important}
.blog_search p a.fb{ color:#444444 !important}

.blog_main .MIB_feed .MIB_feed_c{ float:none !important; width:auto !important}
/*弹出框2011-04-11 by kgy*/
.color_top{ color:#c71d42;}
#pop{ width:386px; position:absolute; z-index:200; left:10%; top:50%;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
 -webkit-box-shadow:4px 2px 6px #333333; 
    -moz-box-shadow:3px 2px 6px #333333;
	box-shadow:3px 2px 6px #333333;

}
#pop h2{ height:37px; clear:both; overflow:hidden; background:url(/star/media/img/pop_bg.png) no-repeat; font-size:14px; font-weight:bold; line-height:37px; padding-left:14px; color:#fff;}
#pop h2 a.close{  width:16px; height:17px; float:right; display:block; text-indent:-9999px; margin:5px 8px 0 0;}
#pop form{ background-color:#fff; padding:12px 14px 8px 14px;}
#pop form h3{ color:#90013b; line-height:32px; font-weight:normal; font-size:12px;}
#pop form textarea{ border:1px solid #dedede; padding:6px; height:84px; width:320px;}
#pop form input{ margin-top:8px; width:62px; height:28px; background:url(/star/media/img/pop_bg.png) 0 bottom no-repeat; border:0; cursor:pointer; text-align:center; font-size:14px; font-weight:bold; color:#fff; line-height:28px;}

#pop span.b{ display:block; height:8px; clear:both; overflow:hidden; background:url(/star/media/img/pop_bg.png) 0 -45px no-repeat}
/*我的关注*/
.MIB_600{width:600px;overflow:hidden;word-wrap:break-word; float:left;}
.newMblog_ts1{clear:both; margin:0 auto 20px auto; overflow:hidden;display:block;height:30px; width:559px;background:url(/star/media/img/new_index_bg.png) no-repeat 14px -34px;line-height:30px;color:#6d6d6d;cursor:pointer;text-align:center;}
.newMblog_ts1:link,.newMblog_ts1:visited{color:#6d6d6d;}
.newMblog_ts1:hover{background-position:14px 0;color:#960;text-decoration:underline;}
.MIB_feed .head_pic{ float:left; width:56px;}


.user_head{ padding:15px 0 0 17px;overflow:auto; zoom:1;}
.user_head .picborder_r{ margin:0 10px 0 0;} 
.user_head .picborder_r img{ display:block; width:50px; height:50xp;border:1px solid #fff;}
.user_head p{ overflow:hidden;white-space: nowrap; width:112px; color:#808080;}
.user_head p em{ margin-right:7px;}
.ico_ZStatus{background:url(/star/media/img/ico_status.png) no-repeat scroll 0 0;_background:url(/star/media/img/ico_status.png) no-repeat scroll 0 0;width:9px;height:9px;margin-right:5px;}.online_ZStatus{background-position:0 0;}.busy_ZStatus{background-position:0 -20px;}.leave_ZStatus{background-position:0 -40px;}.offline_ZStatus{background-position:0 -60px;}.phone_ZStatus{background-position:0 -80px;height:12px;}.client_ZStatus{background-position:0 -100px;width:10px;height:10px;}
/*收藏夹*/
.favorites{ width:572px; height:37px;padding-top:35px; margin:20px 0 5px 19px; position:relative}
.favorites .create{ display:block; width:87px; height:28px; text-indent:-999%; overflow:hidden; background:url(/star/media/img/bg01.png) -468px -38px; position:absolute; right:0; top:0}
.favorites .subtab{ height:29px; position:absolute; left:0; top:7px}
.favorites .subtab li{ float:left; display:inline; margin-right:2px; padding:0 10px; line-height:27px; height:27px;}
.favorites .subtab li a{ font-size:12px; color:#502380; text-decoration:none}
.favorites .subtab li.current{ border-bottom:1px solid #F3F3F3; background:#F3F3F3; border-top:1px solid #D6D6D6;border-left:1px solid #D6D6D6;border-right:1px solid #D6D6D6;}
.favorites .subtab li.current a{ color:#000000; font-weight:700}
.favorites .subtab_con{ width:565px; padding-left:7px; height:37px; line-height:37px;background:url(/star/media/img/bg01.png)}
.favorites .subtab_con li{ float:left; padding:0 3px;}
.sort{ float:left; display:inline; margin-top:7px; height:23px; line-height:23px; padding-left:5px; background:url(/star/media/img/bg01.png) 0 -104px;}
.sort div{ float:left; padding-right:5px; background:url(/star/media/img/bg01.png) right -104px;}
.sort div a{ float:left; padding-left:15px; background-image:url(/star/media/img/bg01.png); background-position: 0 -131px; background-repeat:no-repeat; color:#010101; text-decoration:none}
.sort div a.up{ background-position:0 -131px}
.sort div a.up_on{background-position:0 -171px}
.sort div a.down{background-position:0 -151px}
.sort div a.down_on{background-position:0 -191px}
.favorites .s_text{ line-height:24px; right:7px; top:7px; position:absolute;}
.favorites .search_input{ margin:0; position:absolute; right:60px; top:7px;}
.main_nav_r{ width:164px; padding-bottom:32px;}
.main_nav_r li.on{ border:1px solid #dac4da; border-left:none; font-weight:bold;background-color:#fff; }
.main_nav_r li{ height:27px; line-height:27px; padding-left:8px; font-size:14px; margin-bottom:7px;}
.main_nav_r li s{ background:url(/star/media/img/bg01.png) no-repeat; display:block; float:left;}
.main_nav_r li s.s1{ width:18px; height:19px; background-position:-578px 0px; margin-right:10px;}
.main_nav_r li s.s2{ width:16px; height:16px; background-position:-583px -40px; margin:5px 7px 0 0;}
.main_nav_r li s.s3{ width:21px; height:19px; background-position:-581px -74px; margin:2px 6px 0 0;}
.main_nav_r li.on a, .main_nav_r li.on a:link, .main_nav_r li.on a:visited{ color:#000;}
.main_nav_r li a, .main_nav_r li a:link, .main_nav_r li a:visited{ color:#92168b;}
.main_nav_r li p{ border-bottom:1px dotted #d3aac5;}
.main_nav_r li.on a{ color:#000;}
/*发布框*/
.MIB_mblogbox .connBg .wordNumBg{ color:#bf93a3}
.MIB_mblogbox .connBg .postOptionBg a, .MIB_mblogbox .connBg .postOptionBg a:link, .MIB_mblogbox .connBg .postOptionBg a:visited{ color:#666666;} 
.MIB_mblogbox .pngBg { background:url(/star/media/img/postbgal.jpg) no-repeat;}
.MIB_mblogbox .connBg .postBtnBg{ height:33px; top:164px;}
.MIB_mblogbox .connBg .postBtnBg a{background:url(/star/media/img/bg01.png) 0 -40px;width:100px;height:33px;display:block;}
.MIB_mblogbox .connBg .postBtnBg a:hover{background:url(/star/media/img/bg01.png) 0 -40px;}
.new_title_ml{ margin:0 13px 0 16px; color:#92168b; padding-left:12px; border-bottom:1px solid #c585af; line-height:32px; font-size:14px; font-weight:bold;}
.new_title_ml span{ color:#8b8b8b; font-size:12px; font-weight: normal;}
.new_title_ml b{ color:#707070; font-weight:normal;}
.new_title_ml b.mb_line_r{ font-weight:normal; color:#cbbfc9; padding:0 20px;}
.new_title_ml a{ color:#91188b;}
.MIB_comheader{ background-color:#f5eef5;}
.icon_closel{ color:#dd2122;}
.help_center{ background-color:#fff;}
.help_center .h_bg{ padding:20px 34px;}
.help_center .num_bg{ color:#FFF; font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; display:block; background:url(../images/bg01.png) -106px -39px no-repeat; width:32px; height:21px; line-height:21px; padding-left:7px; float:left;}
.help_center li{ border-bottom:1px dashed #e4e4e4; overflow:auto; zoom:1; line-height:20px; padding:15px 0 12px 10px;}
.help_center li .text{ margin-left:50px; color:#777777;}
.help_center li h3{ font-size:14px; font-weight:bold;; padding-bottom:5px; color:#000;}
.commentsmanage{width: 600px; float: left;}

/*错误信息 */
.error {  padding: 20px 0 38px 38px;}
.error .title { color: #333333; font-size: 14px; font-weight: 700;}
.error .con {line-height: 25px; padding-left: 64px;}
.error .con .con_mtop { margin-top: 48px;}
.error .con p em {color: #F88A3E; font-weight: 700; margin-right: 4px;}
.error .con p .rank {background: url("/star/media/img/bg_01.gif") no-repeat scroll left center transparent;color: #A0A0A0;display: inline-block;float: left; height: 16px;line-height: 16px; margin-right: 6px; margin-top: 4px;overflow: hidden;text-align: center; width: 16px;}
.error a:link, a:visited { color: #0082CB;}
.error .MIB_line_l { color: #D4D4D4;}
.error .MIB_line_l { color: #D6D6D6; padding: 0 9px 0 8px;}
.error .PY_ib_1 { background-position: 0 0;}
.error .PY_ib { height: 50px; width: 50px;}
.error fieldset, img { border: 0 none;}
