<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title></title>
<style type="text/css">
#LockWindows{
  position:absolute; top:10px; left:10px; background-color:#777777; z-index:2; display:none;
  opacity: 0.70;
  filter : progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=70,finishOpacity=100);
  width:expression(documentElement.clientWidth < 900?(documentElement.clientWidth==0?(body.clientWidth<900?'900':'auto'):'900px'):'auto');
}
#WindowDIV{position:absolute; z-index:3; background-color:#FFFFFF; border:#000000 solid 1px; display:none;}
</style>

<script type="text/javascript">
function _displaySelect(){
  var selects=document.getElementsByTagName("select");
  var objWindow = document.getElementById("WindowDIV");
  var DIVselects = objWindow.getElementsByTagName("select"); 
  for(var i=0;i<selects.length;i++){
  if(selects[i].style.visibility){
  selects[i].style.visibility="";
  }else{
  selects[i].style.visibility="hidden";
  for(var j=0; i<DIVselects.length; j++){
  DIVselects[j].style.visibility="";
  }
  }
  }
}

function openWindows(width,height){
  var objWindow = document.getElementById("WindowDIV");
  var objLock = document.getElementById("LockWindows");
  objLock.style.display="block";
  objLock.style.width=document.body.clientWidth+"px";
  objLock.style.height=document.body.clientHeight+"px";
  objLock.style.minWidth=document.body.clientWidth+"px";
  objLock.style.minHeight=document.body.clientHeight+"px";
  if(width > document.body.clientWidth)  
  width = document.body.clientWidth;
  if(height > document.body.clientHeight)  
  height = document.body.clientHeight;
  objWindow.style.display="block";
  objWindow.style.width = width+"px";
  objWindow.style.height = height+"px";
  objWindow.style.left=(document.body.offsetWidth - width)/2+" px";
  objWindow.style.top=(document.body.offsetHeight - height)/2+" px";
}

function hiddenWindows(){
  LockWindows.style.display='none';
  WindowDIV.style.display='none';
  _displaySelect();
}
</script>
</head>

<body>
<div id="LockWindows"><br>
<div id="WindowDIV" align="center">   
  <input type="button" onclick="hiddenWindows();" value="关闭" / >
</div>
</div>
<input type="button" onclick="openWindows('800','700');" value="编辑" >
<br>
<a href="#">abc</a>
</body>
</html>
